# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# PyCharm
.idea/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp

# Banco SQLite (caso utilize)
*.db
*.sqlite3

# Cache do pytest
.pytest_cache/

# Cobertura de testes
.coverage
htmlcov/

# Arquivos do sistema
.DS_Store
Thumbs.db